*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --blue: #0040ff;
  --blues: #0064ff;
  --white: #ffffff;
  --lightgrey: #999999;
  --grey: #666666;
  --black: #000;
}

html {
  font-family: "Helvetica Neue",Arial,sans-serif;
  font-weight: 500;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "kern" 1,"kern","kern";
  font-kerning: normal;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  margin: 0;
}

body {
  margin: 0;
}

h1 {
  font-size: 5vw;
  font-weight: 500;
  text-align: left;
  margin: 0;
}

section, footer {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 12.5vw 5.625vw;
}

.xl {
  margin: 12.5vw 7vw;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border: none;
  overflow: hidden;
}

a {
  color: var(--blue);
  text-decoration: none;
}

/* .sup {
  font-size: 2.35vw;
  /* vertical-align: super;
  font-weight: bold;
} */

a:hover {
  opacity: .5;
}

a.disable {
  color: var(--lightgrey);
}

button {
  font-family: "Helvetica Neue",Arial,sans-serif;
  color: var(--white);
  font-size: 6.25vw;
  font-weight: 500;
  background-color: var(--blue);
  border: none;
  padding: 0 5vw;
  height: 12.5vw;
  border-radius: 10vw;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover {
  cursor: pointer;
  opacity: .5;
}

.mediabox {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  border-radius: 2.5vw;
  overflow: hidden;
}

.mediabox:before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 2.5vw;
  border: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.dude {
  display: block;
  min-width: 48px;
  width: 3.75vw;
  height: auto;
  margin: 24px auto;
  position: absolute;
  top: 0;
  left: 5.625vw;
  /* right: 0; */
  z-index: 999;
}

.back {
  margin: 24px auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 320px;
  text-align: center;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--lightgrey);
  font-size: 1.5625vw;
}

.xs {
  font-size: 24px;
  width: 72px;
  height: 48px;
  border-radius: 24px;
  margin: 20px;
  padding: 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
}

.lock {
  display: block;
  width: 24px;
  height: 24px;
  margin: 32px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
}

.lock svg path {
  fill: var(--black);
  fill-opacity: 0.2;
}

.sub {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: var(--blue);
  border-radius: 16vw;
  padding: 5.625vw;
  width: 85%;
}

.sub > h1 {
  text-align: center;
  color: #fff;
}

.sub > span {
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  text-align: center;
  color: #fff;
  margin-top: 3.75vw;
  font-size: 2.5vw;
  opacity: .5;
}

.caption {
  display: block;
  font-size: 2.5vw;
  text-align: center;
  margin: 1.5vw 2.5vw;
}

.divider {
  display: block;
  height: 3.75vw;
}

.stack {
  display: flex;
  position: relative;
  width: 100%;
}

.stack .mediabox {
  margin: 0 1.5625vw;
}

footer {
  align-items: center;
  margin-bottom: 40px;
}

footer .info {
  color: var(--lightgrey);
  font-size: 1.5625vw;
  text-align: center;
  padding: 0 2.5vw
}

footer a {
  color: var(--lightgrey);
}

@media (prefers-color-scheme: dark) {
  body {
    color: var(--grey);
    background-color: var(--black);
  }
  a {
    color: var(--blue);
  }
  .mediabox:before{
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
  .sub {
    background-color: var(--blue);
  }
  .lock svg path {
    fill: var(--white);
    fill-opacity: 0.24;
  }
  footer .info,
  footer a {
    color: var(--grey);
  }
}

@media only screen and (max-width: 768px) {
  section, footer {
    margin: 20vw 2.5vw;
  }
  footer {
    margin-bottom: 32px;
  }
  h1 {
    font-size: 7vw;
    padding: 0 2.5vw;
  }
  button {
    font-size: 9vw;
    padding: 0 6vw;
    height: 20vw;
    border-radius: 10vw;
  }
  footer .info {
    font-size: 4vw;
  }
  .caption {
    font-size: 5vw;
    margin: 4vw;
  }
  .sub {
    width: 100%;
    padding: 10vw 2.5vw;
  }
  .sub h1 {
    padding: 0;
  }
  .sub span {
    font-size: 4vw;
  }
  .lock {
    width: 24px;
    height: 24px;
    margin: 24px;
  }
  .xl {
    margin: 20vw 0;
  }
  .xs {
    width: 64px;
    height: 40px;
    font-size: 20px;
    margin: 16px;
  }
  .stack .mediabox {
    margin: 0 2.5vw;
  }
  .mediabox {
    border-radius: 2.5vw;
  }
  .dude {
    position: relative;
    margin: 24px 5vw;
    left: 0;
  }
  .back {
    font-size: 4vw;
  }
}
